@media screen and (max-width: 1900px) {
  .header__text {
    width: 35%; } }
@media screen and (max-width: 1800px) {
  .header__title {
    margin: 250px auto 10px auto; }
  .header__content {
    padding: 0 100px 0 0; }
  .header__vector2 {
    left: -250px;
    bottom: 180px; }
  .header__vector3 {
    height: 400px;
    left: -250px;
    bottom: -30px; }
  .header__contact-phone {
    margin: 170px auto 0 auto; } }
@media screen and (max-width: 1700px) {
  .header__item {
    width: 200px; }
    .header__item .select-custom__current, .header__item .select-custom__option {
      font-size: 18px;
      line-height: 22px; } }
@media screen and (max-width: 1600px) {
  .content__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px; }

  .header {
    padding: 0; }
    .header__main {
      background-position: 0 0;
      height: 950px; }
    .header__header {
      padding: 20px 0; }
    .header__logo {
      width: 130px;
      height: 47px; }
    .header__phone {
      font-size: 24px;
      line-height: 29px; }
    .header__address {
      font-size: 16px;
      line-height: 20px; }
    .header__icon {
      width: 36px;
      height: 37px;
      margin: 0 20px 0 0; }
    .header__text {
      width: 45%; }
    .header__title {
      font-size: 42px;
      line-height: 51px; }
    .header__content {
      margin: 50px 0 0 0;
      width: 32%;
      padding: 0 50px 0 0; }
    .header__option {
      font-size: 20px;
      line-height: 24px; }
      .header__option .select-custom {
        height: 60px; }
    .header__best-choise {
      font-size: 20px;
      line-height: 24px; }
    .header__callus {
      width: 70%;
      margin: 60px auto 0 auto;
      font-size: 22px;
      line-height: 27px; }
    .header__vector1 {
      background-position: 100% -27%;
      background-size: 90%; }
    .header__vector2 {
      width: 750px;
      bottom: 130px;
      left: -210px;
      height: 200px; }
    .header__vector3 {
      width: 720px;
      bottom: -70px;
      left: -200px; }
    .header__contact-phone {
      margin: 210px auto 0 auto;
      font-size: 50px;
      line-height: 61px; }

  .content__header {
    font-size: 32px;
    line-height: 39px; }

  .action-button a {
    width: 257px;
    height: 59px;
    font-size: 14px;
    line-height: 17px; }

  .feedback__input {
    width: 257px; }
    .feedback__input input {
      height: 59px;
      font-size: 14px;
      line-height: 17px; }
      .feedback__input input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 14px; }
      .feedback__input input::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px; }
      .feedback__input input:-ms-input-placeholder {
        /* IE 10+ */
        font-size: 14px; }
      .feedback__input input:-moz-placeholder {
        /* Firefox 18- */
        font-size: 14px; }

  .item-service {
    min-height: 630px; }
    .item-service__title {
      font-size: 28px;
      line-height: 34px; }
    .item-service__description {
      font-size: 16px;
      line-height: 20px; }

  .item-card__icon {
    min-width: 80px; }
  .item-card__title {
    font-size: 22px;
    line-height: 27px; }
  .item-card__description {
    font-size: 18px;
    line-height: 22px; } }
@media screen and (max-width: 1500px) {
  .header__vector2 {
    bottom: 200px; }
  .header__vector3 {
    bottom: -20px; }

  .services__header {
    margin-top: 0; } }
@media screen and (max-width: 1400px) {
  .header__header {
    padding: 30px 0 0 0; }
  .header__vector1 {
    background: url("../images/Vector1.png") no-repeat;
    background-size: 100% 80%;
    background-position: 100% 0; }
  .header__content {
    margin-top: 100px;
    width: 36%; }
  .header__text {
    padding-left: 100px; }
  .header__vector2 {
    bottom: 150px;
    width: 670px;
    left: -160px;
    height: 180px; }
  .header__vector3 {
    bottom: -20px;
    width: 680px;
    left: -160px; }
  .header__contact-phone {
    margin: 220px auto 0 auto;
    font-size: 50px;
    line-height: 61px; }

  .table__name {
    font-size: 20px;
    line-height: 28px; }
  .table__info {
    font-size: 18px;
    line-height: 22px; }
  .table__contacts {
    font-size: 18px;
    line-height: 22px; }

  .services__column {
    padding: 0 10px; }

  .benefits {
    margin-bottom: 60px; }
    .benefits__row {
      flex-direction: column; }
    .benefits__column {
      margin-bottom: 10px;
      padding: 0; }

  .header__option .select-custom__arrow {
    margin-right: 10px; }

  .header__item .select-custom__selected, .header__item .select-custom__option {
    font-size: 14px; } }
@media screen and (max-width: 1200px) {
  .header__vector2 {
    bottom: 150px;
    width: 670px;
    left: -200px;
    height: 180px; }
  .header__vector3 {
    bottom: -20px;
    width: 680px;
    left: -200px; } }
@media screen and (max-width: 1000px) {
  .header {
    position: relative;
    height: auto; }
    .header__header {
      background: transparent;
      padding: 0;
      position: absolute;
      top: 20px; }
    .header__container {
      width: 90%; }
    .header__text {
      width: 90%;
      height: auto;
      padding: 0;
      margin: 0 auto; }
    .header__menu {
      position: absolute;
      width: 90%;
      top: 150%;
      margin: 0 auto; }
    .header__title {
      margin: 100px auto 10px auto; }
    .header__content {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background: url("../images/Ellipse 54.png") no-repeat;
      background-size: 100%;
      padding: 25% 0 0 0; }
      .header__content .content__header {
        padding-left: 5%; }
    .header__options, .header__button, .header__best-choise {
      padding-left: 5%;
      background: white; }
    .header__main {
      padding-top: 135px;
      height: auto;
      background-size: cover;
      background-position: center; }
    .header__logo {
      background: url("../images/logo white.png") no-repeat;
      background-size: contain; }
    .header__vector1 {
      background: transparent;
      flex-direction: column;
      justify-content: flex-start; }
    .header__vector2, .header__vector3 {
      position: static;
      width: 100%;
      background-image: none;
      background-color: white;
      height: auto; }
    .header__vector3, .header__vector2 {
      padding-top: 50px; }
    .header__contact-phone, .header__callus {
      margin-top: 0;
      width: 100%;
      padding-left: 5%; }
    .header__contact-phone a {
      color: #01AE5F; }
    .header__phone, .header__address {
      color: white; }
    .header__options {
      width: 90%; }
    .header__item .select-custom__selected {
      color: white; }
    .header__bg1 {
      transform: scale(2); }
    .header__bg {
      height: 100%; }
    .header__alpha {
      top: -300px;
      height: 100%; }

  .benefits,
  .services,
  .economy,
  .videos {
    margin-bottom: 60px; }
    .benefits__row,
    .services__row,
    .economy__row,
    .videos__row {
      flex-direction: column; }
    .benefits__column,
    .services__column,
    .economy__column,
    .videos__column {
      margin-bottom: 10px;
      padding: 0; }

  .item-service {
    display: flex;
    align-items: center;
    min-height: auto;
    justify-content: space-between; }
    .item-service__button {
      position: static; }
    .item-service__icon {
      width: 300px;
      margin-right: 30px; }
    .item-service__price {
      margin-bottom: 20px; }
    .item-service__description {
      margin-bottom: 10px; }

  .feedback {
    padding: 90px 100px 90px 90px; }
    .feedback__form {
      flex-wrap: wrap; }
    .feedback__input, .feedback__submit {
      margin-bottom: 40px; }
    .feedback__phone {
      width: 100%; }

  .footer__container {
    width: 90%; }
  .footer__row {
    flex-wrap: wrap; }
  .footer__column {
    flex: 0 0 50%;
    margin-bottom: 40px; }
  .footer__header {
    font-size: 22px;
    line-height: 27px; }
  .footer ul {
    font-size: 18px;
    line-height: 28px; }
  .footer__title {
    font-size: 22px;
    line-height: 28px; }
  .footer__address {
    font-size: 18px;
    line-height: 28px; }
  .footer__number {
    font-size: 20px;
    line-height: 28px; }
  .footer__timetable {
    font-size: 18px;
    line-height: 28px; } }
@media screen and (max-width: 991px) {
  .about {
    margin-bottom: 40px; }
    .about__container {
      width: 95%; }
    .about__header {
      width: 90%;
      margin: 0 auto 20px auto; }

  .table td {
    padding: 10px 5px; }
  .table__image {
    width: 25px; }
    .table__image img {
      width: 25px;
      height: auto; }
  .table__name {
    font-size: 10px;
    line-height: 12px; }
  .table__info {
    font-size: 8px;
    line-height: 10px; }
  .table__contacts {
    font-size: 8px;
    line-height: 10px; } }
@media screen and (max-width: 720px) {
  .content__header {
    font-size: 18px;
    line-height: 22px; }

  .content__subtitle {
    display: none; }

  .action-button a {
    width: 157.94px;
    height: 34px;
    font-size: 8px;
    line-height: 10px; }

  .header__phone {
    font-size: 10px;
    line-height: 12px; }
  .header__address {
    font-size: 8px;
    line-height: 10px; }
  .header__logo {
    width: 74px;
    height: 27px; }
  .header__title {
    font-size: 18px;
    line-height: 22px;
    margin: 50px 0 15px 0; }
  .header__option {
    font-size: 14px;
    line-height: 17px; }
    .header__option .select-custom {
      height: 38px; }
      .header__option .select-custom__arrow {
        width: 10px;
        height: 10px;
        background-size: contain; }
  .header__main {
    /*             background: url('../images/Budapest2.jpg');
                background-size: cover;
                background-position: top; */ }
  .header__bg1 {
    display: none; }
  .header__bg2 {
    display: block;
    top: -150px; }
  .header__menu {
    width: 95%;
    margin: 0 -10px; }
  .header__item {
    padding: 0 10px; }
    .header__item .select-custom__arrow {
      width: 10px;
      height: 10px;
      background-size: contain; }
  .header__best-choise {
    font-size: 18px;
    line-height: 22px; }
  .header__vector2, .header__vector3 {
    padding-top: 20px; }
  .header__callus {
    font-size: 14px;
    line-height: 17px;
    width: 90%; }
  .header__contact-phone {
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    width: 100%;
    padding-left: 5%; }
  .header .content__subtitle {
    display: block;
    font-size: 10px;
    line-height: 12px; }
  .header__icon {
    height: 22px;
    margin-right: 5px; }
    .header__icon img {
      height: 100%; }
  .header .select-custom__selected, .header .select-custom__option {
    font-size: 10px;
    line-height: 12px; }

  .feedback {
    padding: 50px 0 30px 10px; }
    .feedback__input, .feedback__submit {
      margin-bottom: 10px;
      margin-right: 20px; }
    .feedback__form {
      justify-content: center; }
    .feedback__phone {
      font-size: 20px;
      line-height: 24px; }
    .feedback__input {
      width: 157.94px;
      margin-right: 20px; }
      .feedback__input input {
        border-width: 1px;
        height: 34px;
        font-size: 8px;
        line-height: 10px; }
        .feedback__input input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-size: 8px; }
        .feedback__input input::-moz-placeholder {
          /* Firefox 19+ */
          font-size: 8px; }
        .feedback__input input:-ms-input-placeholder {
          /* IE 10+ */
          font-size: 8px; }
        .feedback__input input:-moz-placeholder {
          /* Firefox 18- */
          font-size: 8px; }

  .item-service__icon {
    width: 120px;
    height: auto;
    margin-right: 10px; }
    .item-service__icon img {
      width: 100%;
      height: auto; }
  .item-service__title {
    font-size: 18px;
    line-height: 22px; }
  .item-service__price {
    font-size: 12px;
    line-height: 15px; }
    .item-service__price span {
      font-size: 10px; }
  .item-service__description {
    font-size: 8px;
    line-height: 10px; }

  .item-card {
    padding: 15px 20px 15px 15px; }
    .item-card__header {
      height: 70px;
      margin-bottom: 20px; }
    .item-card__title {
      font-size: 14px;
      line-height: 17px; }
    .item-card__icon {
      margin-right: 20px;
      max-height: 60px;
      text-align: center; }
      .item-card__icon img {
        max-height: 60px;
        width: auto; }
    .item-card__description {
      font-size: 8px;
      line-height: 10px; }

  .services__row,
  .benefits__row {
    margin-bottom: 10px; }
  .services__column,
  .benefits__column {
    padding: 0; }

  .item-number {
    padding: 30px 15px; }
    .item-number__number {
      font-size: 100px;
      line-height: 122px;
      width: calc(100% - 60px);
      height: calc(100% - 30px); }
    .item-number__header {
      font-size: 18px;
      line-height: 22px; }
    .item-number__subtitle {
      font-size: 14px;
      line-height: 17px; }
    .item-number__description {
      font-size: 8px;
      line-height: 10px; }

  .videos__header {
    margin-bottom: 20px; }

  .footer__row {
    margin-bottom: 20px; }
  .footer__header {
    font-size: 14px;
    line-height: 17px; }
  .footer ul {
    font-size: 10px;
    line-height: 18px; }
  .footer__title {
    font-size: 14px;
    line-height: 28px; }
  .footer__address {
    font-size: 10px;
    line-height: 28px; }
  .footer__number {
    font-size: 14px;
    line-height: 18px; }
  .footer__timetable {
    font-size: 10px;
    line-height: 18px; }
  .footer__phone {
    text-align: right; } }
@media screen and (max-width: 500px) {
  .item-video {
    height: 200px; }
    .item-video__play {
      width: 50px;
      height: 50px;
      background-size: 30%; } }
@media screen and (max-width: 400px) {
  .footer__column {
    flex: 0 0 100%; } }

/*# sourceMappingURL=media.css.map */
